.node {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  .node .selected {
    stroke: black;
  }

  .link {
    stroke: #999;
  }

  .brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
  }

	body, html {
 		height: 100%;
  		margin: 0;
  		font: 400 15px/1.8 "Raleway", sans-serif;
  		color: #777;
	}

	.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
  		position: relative;
 		  opacity: 0.65;
  		background-attachment: fixed;
  		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;

	}

	.bgimg-1 {
      background-image: url("https://s3.amazonaws.com/bah-lunch-learn-images/intro.png");
  		min-height: 100%;
	}

	.bgimg-2 {
  		background-image: url("https://s3.amazonaws.com/bah-lunch-learn-images/jvd.jpg");
  		min-height: 100%;
	}

	.bgimg-3 {
  		background-image: url("https://s3.amazonaws.com/bah-lunch-learn-images/question.jpg");
  		min-height: 100%;
	}

  .bgimg-4 {
      background-image: url("https://s3.amazonaws.com/bah-lunch-learn-images/design.jpg");
      min-height: 100%;
  }

  .bgimg-5 {
      background-image: url("https://s3.amazonaws.com/bah-lunch-learn-images/tutorial2.jpg");
      min-height: 100%;
  }

  .bgimg-6 {
      background-image: url("https://s3.amazonaws.com/bah-lunch-learn-images/resources.jpg");
      min-height: 100%;
  }

  .question {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    min-height: 100%;
  }

  .info {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    min-height: 100%;
  }

	.caption {
  		position: absolute;
  		left: 0;
  		top: 50%;
  		width: 100%;
  		text-align: center;
  		color: #000;
	}

	.caption span.border {
  		background-color: #111;
  		color: #fff;
  		padding: 18px;
  		font-size: 25px;
  		letter-spacing: 10px;
      opacity:.75;
	}
	
	h3 {
  		letter-spacing: 5px;
  		text-transform: uppercase;
  		font: 22px "Lato", sans-serif;
  		color: #111;
	}

  p {
    font-size: 20px;
  }

  .q {
    font-size: 25px;
  }
	/* Turn off parallax scrolling for tablets and phones */
	@media only screen and (max-device-width: 1024px) {
    	.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
        	background-attachment: scroll;
    	}
	}
	
	@import "compass/css3";

	.flex-container {
  		padding: 0;
  		margin: 0;
  		list-style: none;
  
 		display: -webkit-box;
  		display: -moz-box;
 		display: -ms-flexbox;
  		display: -webkit-flex;
  		display: flex;
  
  		-webkit-flex-flow: row wrap;
  		justify-content: space-around;
	}

	.flex-item {
  		padding: 5px;
  		width: 200px;
  		height: 200px;
  		margin-top: 10px;
  		line-height: 200px;
  		color: white;
  		font-weight: bold;
  		font-size: 3em;
  		text-align: center;
	}

	.flex-viz {
  		padding: 5px;
  		width: 90%;
  		height: 50%;
  		margin-top: 10px;
  		line-height: 400px;
  		color: white;
  		font-weight: bold;
  		font-size: 3em;
  		text-align: center;
	}

  .flex-box {
      padding: 5px;
      width: 450px;
      height: 350px;
      margin-top: 10px;
      line-height: 400px;
      color: white;
      font-weight: bold;
      font-size: 3em;
      text-align: center;
  }

	img{
		width: 100%;
		height: 100%;
	}

  .fa-chevron-down {
    float: right;
    line-height: 50px;
    font-size: 50px;
    color: #000;
    opacity: 75%;
  }